{% block header %}
    <header id="header" class="header-area transparent-bar sticky-bar header-padding header-padding header-hm6">
        <div class="container-fluid">
            <div class="header-wrap header-flex">
                <div class="header-logo">
                    <!-- TODO : Ajouter logo-->
                    <h1>SnowTricks</h1>
                    <div class="subtitle"><p>La référence en matière de snowboard</p></div>
                </div>
                <div class="header-menu">
                    <ul>
                        <li><a href="{{ path('app_homepage_index') }}">Accueil</a></li>
                        <li><a href="{{ path('trick_index') }}">Tricks</a></li>
                        {% if is_granted('ROLE_USER') %}
                            <li><a href="{{ path('logout') }}">Déconnexion</a></li>
                        {% else %}
                            <li><a href="{{ path('login') }}">Connexion</a></li>
                            <li><a href="{{ path('app_registration_register') }}">Inscription</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
