{{ form_start(form) }}
    {# {{ form_widget(form) }} #}
    {{ form_label(form.name) }}
    {{ form_errors(form.name) }}
    {{ form_widget(form.name) }}
    {{ form_help(form.name) }}
<br>
    {{ form_label(form.description) }}
    {{ form_errors(form.description) }}
    {{ form_widget(form.description) }}
    {{ form_help(form.description) }}
<br>
    {{ form_label(form.trickGroup) }}
    {{ form_errors(form.trickGroup) }}
    {{ form_widget(form.trickGroup) }}
    {{ form_help(form.trickGroup) }}
<br>
{#<div id="trick_files">
    <div class="row">
        <div id="imagesProto" data-prototype="{{ form_widget(form.trickImages.vars.prototype)|e }}"></div>
        <div class="col col-xs-12" id="picturesBox">
            Images :
            {{ form_errors(form.trickImages) }}
        </div>
        <div id="videosProto" data-prototype="{{ form_widget(form.trickVideos.vars.prototype)|e }}"></div>
        <div class="col col-xs-12" id="videosBox">
            {{ form_label(form.trickVideos) }}
            {{ form_errors(form.trickVideos) }}
            {{ form_widget(form.trickVideos) }}
            {{ form_help(form.trickVideos) }}
        </div>
    </div>
</div>#}

{{ form_errors(form) }}


<div id="trick_assets_add">
    <div class="prototypes">
        <div id="videos_prototype" data-prototype="{{ form_widget(form.trickVideos.vars.prototype, {'attr': {'class': 'video_row'}})|e('html_attr') }}" data-index=0></div>
        <div id="images_prototype" data-prototype="{{ form_widget(form.trickImages.vars.prototype, {'attr': {'class': 'image_row'}})|e('html_attr') }}" data-index=0></div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <button type="button" id="newVid">Nvlle vidéo</button>
        <div id="videosForm">
            {{ form_widget(form.trickVideos, {'attr': {'class': 'video_row'}}) }}
        </div>
    </div>
    <div class="col-6">
        <button type="button" id="newImg">Nvlle image</button>
        <div id="imagesForm">
            {{ form_widget(form.trickImages, {'attr': {'class': 'image_row'}}) }}
        </div>
    </div>
</div>



<br>

    <button type="submit" class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}



<script>
    $(document).ready(function () {
        var divVideo = $('#videos_prototype');
        var divImage = $('#images_prototype');

        divVideo.data('index', {{ trick.trickVideos|length }});
        divImage.data('index', {{ trick.trickImages|length }});

        var deleteButton = "<button type=\"button\" class=\"close\" aria-label=\"Close\">\n" +
            "  <span aria-hidden=\"true\">&times;</span>\n" +
            "</button>";

        // Add a delete button to all videos and images
        $(".video_row").each(function (index, element) {
            // element == this
            element.add(deleteButton).addClass('delete_btn');
        });
    });

    $('#newVid').on('click', function (e) {
        e.preventDefault();

        var divVideo = $('#videos_prototype');
        var divImage = $('#images_prototype');

        var prototype = divVideo.data('prototype');
        var index = divVideo.data('index');

        console.log(prototype);

        var newForm = prototype.replace(/__videos_prot__/g, index);

        divVideo.data('index', index + 1);
        divImage.data('index', index + 1);


        $('#trick_trickVideos').append(newForm);
        //var prototype = $(this).data()
    });

    $('#newImg').on('click', function (e) {
        e.preventDefault();

        var divVideo = $('#videos_prototype');
        var divImage = $('#images_prototype');

        var prototype = divImage.data('prototype');
        var index = divImage.data('index');

        console.log(prototype);

        var newForm = prototype.replace(/__images_prot__/g, index);

        divVideo.data('index', index + 1);
        divImage.data('index', index + 1);


        $('#trick_trickImages').append(newForm);
    });
</script>


{#<script>
    var imageCount = '{{ form.trickImages|length }}';
    var videoCount = '{{ form.trickVideos|length }}';
    var removeButton = "<button type='button' class='btn btn-danger btn-xs' onclick='removeFile($(this));'><i class='fa fa-times' aria-hidden='true'></i></button>";

    function removeFile(ob)
    {
        ob.parent().parent().remove();
    }

    function createAddImage(imageCount) {
        // grab the prototype template
        var newWidget = $("#imagesProto").attr('data-prototype');
        // replace the "__name__" used in the id and name of the prototype
        newWidget = newWidget.replace(/__name__/g, imageCount);
        console.log(newWidget);

        newWidget = "<div style='display:none'>" + newWidget + "</div>";

        hideStuff = "";
        hideStuff += "<div class='col'>";
        hideStuff += "<div class='col-1 col-xs-2' id='jsRemove_image" + imageCount + "' style='display: none;'>";
        hideStuff += removeButton;
        hideStuff += "</div>";

        hideStuff += "<div class='col-11 col-xs-10' id='jsPreview_image" + imageCount + "'>";
        hideStuff += "</div>";

        hideStuff += "<div class='col col-xs-9 d-flex justify-content-center'>";
        hideStuff += "<button type='button' id='jsBtnUpload_image" + imageCount + "' class='btn btn-warning'>";
        hideStuff += "<i class='fa fa-plus'></i> {{ 'Image' | trans }}";
        hideStuff += "</button>";
        hideStuff += "</div>";
        hideStuff += "</div>";


        $("#picturesBox").append("<div class='row'>" + hideStuff + newWidget + "</div>");


        // On click => Simulate file behaviour
        $("#jsBtnUpload_image" + imageCount).on('click', function (e) {
            $('#trick_trickImages_' + imageCount + '_path').trigger('click');
        });

        // Once the file is added
        $('#trick_trickImages_' + imageCount + '_path ').on('change', function () {
            // Show its name
            fileName = $(this).prop('files')[0].name;
            $("#jsPreview_image" + imageCount).append(fileName);
            // Hide the add file button
            $("#jsBtnUpload_image" + imageCount).hide();
            // Show the remove file button
            $("#jsRemove_image" + imageCount).show();

            // Create another instance of add file button and company
            createAddImage(parseInt(imageCount) + 1);
        });
    }

    function createAddVideo(videoCount) {
        // grab the prototype template
        var newWidget = $("#videosProto").attr('data-prototype');
        // replace the "__name__" used in the id and name of the prototype
        newWidget = newWidget.replace(/__name__/g, videoCount);
        console.log(newWidget);

        newWidget = "<div style='display:none'>" + newWidget + "</div>";

        hideStuff = "<div class='container'>";
        hideStuff += "<div class='col'>";
        hideStuff += "<div class='col-2 col-xs-2' id='jsRemove_video_" + videoCount + "' style='display: none;'>";
        hideStuff += removeButton;
        hideStuff += "</div>";

        hideStuff += "<div class='col-10 col-xs-10' id='jsInput_video_" + videoCount + "'>";
        hideStuff += "</div>";

        hideStuff += "<div class='col col-xs-9 d-flex justify-content-center'>";
        hideStuff += "<button type='button' id='jsBtnUpload_video_" + videoCount + "' class='btn btn-warning'>";
        hideStuff += "<i class='fa fa-plus'></i> {{ 'Video' | trans }}";
        hideStuff += "</button>";
        hideStuff += "</div>";
        hideStuff += "</div>";
        hideStuff += "</div>";

        $("#videosBox").append("<div class='row'>" + hideStuff + newWidget + "</div>");
        console.log('trick_trickVideos_' + videoCount + '_path');



        // On click => Simulate file behaviour
        $("#jsBtnUpload_video_" + videoCount).on('click', function (e) {
            var prototype = $("#videosProto").attr('data-prototype');
            var newForm = prototype.replace(/__name__/g, videoCount);
            $("#jsInput_video_" + videoCount).append(newForm);
            // Hide the add file button
            $("#jsBtnUpload_video_" + videoCount).hide();
            // Show the remove file button
            $("#jsRemove_video_" + videoCount).show();
            createAddVideo(parseInt(videoCount) + 1);
        });
    }


    $(document).ready(function(){
        createAddImage(imageCount);
        createAddVideo(videoCount);
        imageCount++;
        videoCount++;
    });
</script>
#}
